.outer{
    border: 0px solid black;
    /*margin: 100px;*/
   
    height: 532px;
    border-radius: 20px;
  }
  .credentials{
    display: inline-block;
    width: 50%;
    margin:0;
    float:left;
    height: 532px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
  }


  .fields{
    padding-left: 20%;
    padding-top: 20px;
    font-weight: bold;
  }
  .inputfields{
    width:10cm;
    padding: 2px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin-top: 2px;box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
   
  }

  
  .SignUpButton{
    width: 4.5cm;
    background-color: black;
    color: white;
    padding-bottom: 2px;
    padding-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .SignUpButton:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
 
  }
  .h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 45px;
  }
  

  .main{
    height: 1000px;
    background-image:url("https://png.pngtree.com/background/20230425/original/pngtree-artist-in-wheelchair-painting-outside-picture-image_2467875.jpg") ;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: relative;
  }